<!doctype html>
<html>
  <head>
    <title>{% block title %}Medicine Recommender{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="filter-container">
      <div class="filters">
          <div class="filter-item">
            <label for="price-filter">Sort by Price:</label>
            <select id="price-filter" onchange="filterText()">
              <option value="">None</option>
              <option value="low">Low to High</option>
              <option value="high">High to Low</option>
            </select>
          </div>
          
          <div class="filter-item">
            <label for="rating-filter">Sort by User Rating:</label>
            <select id="rating-filter" onchange="filterText()">
              <option value="">None</option>
              <option value="high">High to Low</option>
              <option value="low">Low to High</option>
            </select>
          </div>
          
          <div class="filter-item">
            <label for="allergy-filter">Filter Allergies/Conditions:</label>
            <input type="text" id="allergy-filter" placeholder="e.g. penicillin" onkeyup="filterText()">
          </div>
      </div>
    </div>
    <div class="disclaimer">
      <p>Disclaimer: The information provided is for educational purposes only and not medical advice.</p>
    </div>
    <div class="image-container" onclick="sendFocus()">
      <img src="{{ url_for('static', filename='images/drugs.png') }}" alt="Logo" class="upper-left-image">
    </div>
    <div class="full-body-container">
      <div class="top-text">
        <div class="theme-color">
          <h1 id="theme-color">MosaicRX</h1>
        </div>
        <img src="{{ url_for('static', filename='images/separator.png') }}" alt="Separator Line" class="separator-line">
        <h2 class="subtitle">Find Medications For You</h2> 
        <div class="input-box" onclick="sendFocus()">
          <img src="{{ url_for('static', filename='images/mag.png') }}" alt="search icon" />
          <input placeholder="Enter any symptoms, conditions, diagnosis etc." id="filter-text-val" onkeyup="filterText()">
        </div>
      </div>
      <div id="answer-box">
      </div>
    </div>
    
    <script>
      function answerBoxTemplate(name, uses, similarity, user_rating, price_info){
        let price_display = "<strong>Price:</strong> Unknown, check with a local pharmacy!";
        if (price_info && price_info.price && price_info.quantity){
          price_display = `<strong>Price:</strong> ${price_info.price} ${price_info.quantity}`;
        }
        let user_display = "<strong>User Rating: N/A</strong>";
        if (user_rating) {
          user_display = `<strong>User Rating:</strong> ${user_rating}`;
        }
      
        return `<div class="medicine-result">
            <h3 class="medicine-name">${name}</h3>
            <p class="medicine-uses"><strong>Uses:</strong> ${uses}</p>
            <p class="medicine-similarity"><strong>Similarity Score:</strong> ${(similarity * 100).toFixed(2)}%</p>
            <p class="medicine-rating">${user_display}</p>
            <p class="medicine-price">${price_display}</p>
            <hr class="custom-line">
        </div>`;
      }
      
      function sendFocus(){
          document.getElementById('filter-text-val').focus();
      }
      
      function filterText(){
          document.getElementById("answer-box").innerHTML = "";
          const queryVal = document.getElementById("filter-text-val").value;
          const priceFilter = document.getElementById("price-filter").value;
          const ratingFilter = document.getElementById("rating-filter").value;
          const allergyFilter = document.getElementById("allergy-filter").value;
      
          const params = new URLSearchParams({
              query: queryVal,
              price: priceFilter,
              rating: ratingFilter,
              allergies: allergyFilter
          });
      
          console.log("Query Params:", params.toString());
      
          fetch("/recommend?" + params.toString())
            .then(response => response.json())
            .then(data => {
                data.forEach(row => {
                    let tempDiv = document.createElement("div");
                    tempDiv.innerHTML = answerBoxTemplate(row["name"], row["uses"], row["similarity"], row["user_rating"], row["price_info"]);
                    document.getElementById("answer-box").appendChild(tempDiv);
                });
            });
      }
    </script>
  </body>
</html>
